body {
    font-family: roboto;
    font-size: 16px;
    color: #ffffff;
    background-color: #849d8f;
    margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*===HEADER===*/

.container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
}
.main-logo {
    float: left;
}

.main-navigation {
    float: left;
    width: 670px;
}
.main-navigation-menu>li{
    display: inline-block;
    margin-right: 29px;    
}
.main-navigation-submenu li {
    display: none;
}

.user-block {
    float: right;
    width: 296px;
    text-align: right;
/*    background-color: red;*/
    margin-top: 18px;
}
.user-block-interactive>a {
    display: inline-block; 
    padding-top: 8px;
    padding-bottom: 8px;
    
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
}
.search {
    width: 32px;
    margin-right: 10px;
    border-radius: 50%;
    background: #9fb4a9 url(img/header/loupe.svg) no-repeat 50% 50%;
}
.login {
    width: 76px;
    padding-right: 16px;
    margin-right: 10px;
    border-radius: 16px;
    background: #9fb4a9 url(img/header/logon.svg) no-repeat 16px 50%; 
}
.basket {
    width: 72px;
    padding-left: 45px;
    border-radius: 16px;
    background: #9fb4a9 url(img/header/empty_basket.svg) no-repeat 16px 50%; 
    text-align: left;
}
.full-basket {
    width: 72px;
    padding-left: 45px;
    border-radius: 16px;
    background: #9fb4a9 url(img/header/full_basket.svg) no-repeat 16px 50%; 
    text-align: left;
}
.telephone {
    font-size: 22px;
    font-weight: 900;
}



/*===MAIN-INDEX===*/

.slider {
    background-color: #b24545;
    
    margin: 0 auto;
    padding: 0;
}
.slider1 {
    background-color: #912929;
    
    display: block;
    margin: 0 auto;
}
.slider-features1 {
    background-color: #520606;
    
    width: 700px;
    margin: 0 auto; 
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    text-align: center;  
}
.slider-btn {
    background-color: #ffffff;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 280px;
}

.promo {
    background-color: #a5477a;
    
    width: 560px;
    min-height: 229px;
    
}
.jam {
    float: left;
}
.chocolate {
    float: right
}

.popular {
    font-size: 0px;
    margin-top: 40px;
}
.popular-ice {
    background-color: #bf4d4d;
    
    display: inline-block;
    width: 267px;
    padding: 0;
    margin: 0;
    margin-right: 26px;
    font-size: 16px;
    
}
.popular-chocolate {
    margin-right: 0;
}

.about-us {
    background-color: #fd9100;
    
    width: 1146px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 0px;
}
.about-us h3 {
    font-size: 24px;
    line-height: 30px;
/*    font-weight: 500;*/
}
.about-us-left, 
.about-us-right {
    background-color: #db8547;
    
    font-size: 16px;
    display: inline-block;
    margin: 0;
    margin-right: auto;
    width: 560px;
}
.about-us-right {
    margin: 0;
    margin-left: 26px;

}

.news {
    background-color: #a5477a;
    
    width: 560px;
    min-height: 229px;   
}
.bl-ss h3 {
    font-size: 24px;
    line-height: 30px;
/*    font-weight: 500;*/
}
.blog {
    float: left;
}
.subscription {
    float: right;
}
.bl-ss {
    margin-top: 40px;    
}

.index {
    margin: 0;
    margin-top: 40px; 
    position: relative;
}
.index-map {
    width: 1200px;
    margin: 0 -27px;
    
    
}
.index-adress {
    background-color: #000000;
    position: absolute;
    top: 62px;
    right: 0px;
}

/*===MAIN-CATALOG===*/


.breadcrumb ul {
    background-color: #5aaf11;
    
    padding: 0;
}
.breadcrumb li {
    display: inline-block;
}
.breadcrumb li:not(:last-child)::after {
    content: "»"
}

h1 {
    background-color: #ce1818;
    
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
}

.filter {
    width: 879px;
}
.filter-block {
    display: inline-block;
}

.catalog-ice {
    width: 1146px;
    font-size: 0px;
    
}
.catalog-ice-wrapper {
    background-color: #bf4d4d;
    
    display: inline-block;
    width: 267px;
    padding: 0;
    margin: 0;
    margin-right: 26px;
    margin-top: 40px;
    vertical-align: top;
    font-size: 16px;
}
.catalog-ice-wrapper:nth-child(4n) {
    margin-right: 0;
}

.pages {
    background-color: #fff;
    
    width: 267px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 82px;
    margin-bottom: 30px;

}



/*===FOOTER===*/

.main-footer {
    background-color: royalblue;
    
    font-size: 0px;
    width: 1146px;
    height: 103px;
    margin: 0 auto;
}
.mf {
    margin: 0;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}
.footer-social {
    background-color: #ff0000;
    
    width: 267px;
    margin: 0;
    margin-right: 26px;
    
    
}
.footer-menu {
    background-color: #ff0000;
    
    width: 560px;
    margin-right: 26px;
}
.footer-copyright {
    background-color: #ff0000;
    
    width: 267px;
    
}