body {
    font-family: roboto;
    font-size: 16px;
    color: #ffffff;
    background-color: #849d8f;
    margin: 0;
}
h1 {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
}
h2.slider-features1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
}
h3 {
    font-size: 24px;
    line-height: 30px;
/*    font-weight: 500;*/
}

.breadcrumb li:not(:last-child)::after {
    content: "»"
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
}
.main-logo {
    float: left;
}
.main-navigation {
    float: left;
    width: 670px;
}
.user-block {
    float: right;
    width: 296px;
    text-align: right;
/*    background-color: red;*/
    margin-top: 18px;
}
.user-block-interactive>a {
    display: inline-block; 
    padding-top: 8px;
    padding-bottom: 8px;
    
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
}
.search {
    width: 32px;
    margin-right: 10px;
    border-radius: 50%;
    background: #9fb4a9 url(img/header/loupe.svg) no-repeat 50% 50%;
}
.login {
    width: 76px;
    padding-right: 16px;
    margin-right: 10px;
    border-radius: 16px;
    background: #9fb4a9 url(img/header/logon.svg) no-repeat 16px 50%; 
}
.basket {
    width: 82px;
    padding-right: 35px;
    border-radius: 16px;
    background: #9fb4a9 url(img/header/empty_basket.svg) no-repeat 16px 50%; 
}
.telephone {
    font-size: 22px;
    font-weight: 900;
}

.main-navigation-menu>li{
    display: inline-block;
    margin-right: 29px;    
}
.main-navigation-submenu li {
    display: none;
}
/*===MAIN===*/
.slider {
    background-color: #b24545;
    
    margin: 0 auto;
    padding: 0;
}
.slider1 {
    background-color: #912929;
    
    display: block;
    margin: 0 auto;
}
.slider-features1 {
    background-color: #520606;
    
    width: 700px;
    text-align: center;
    margin: 0 auto;    
}
.slider-btn {
    background-color: #ffffff;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 280px;
}

.promo {
    background-color: #a5477a;
    
    width: 560px;
    min-height: 229px;
    
}
.jam {
    float: left;
}
.chocolate {
    float: right
}

.popular {
    font-size: 0px;
    margin-top: 40px;
}
.popular-ice {
    background-color: #bf4d4d;
    
    display: inline-block;
    width: 267px;
    padding: 0;
    margin: 0;
    margin-right: 26px;
    font-size: 16px;
    
}
.popular-chocolate {
    margin-right: 0;
}

.about-us {
    background-color: #fd9100;
    
    width: 1146px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 0px;
}
.about-us-left, 
.about-us-right {
    background-color: #db8547;
    
    font-size: 16px;
    display: inline-block;
    margin: 0;
    margin-right: auto;
    width: 560px;
}
.about-us-right {
    margin: 0;
    margin-left: 26px;

}

.news {
    background-color: #a5477a;
    
    width: 560px;
    min-height: 229px;   
}
.blog {
    float: left;
}
.subscription {
    float: right;
}
.bl-ss {
    margin-top: 40px;    
}

.index {
    margin-top: 40px;  
}
.index-map {
    width: 1200px;
    margin: 0 -27px;
    
}
.index-adress {
    background-color: #000000;
    float: right;    
}